{% extends 'dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="{% static 'css/trail.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>

    {% block content %}
    <div class="boxes">
        <div class="purchase">
            <div class="purchaseimage"></div>
        </div>
        <div class="sales">
            <div class="slaesimage"></div>
        </div>
        <div class="totalsaleamount">
            <div class="totalsaleamountimage"></div>
        </div>
        <div class="expenseamount">
            <div class="expenseamountimage"></div>
        </div>
    </div>
    <div class="boxes">
        <div class="purchase">
            <div class="purchaseimage"></div>
        </div>
        <div class="sales">
            <div class="slaesimage"></div>
        </div>
        <div class="totalsaleamount">
            <div class="totalsaleamountimage"></div>
        </div>
        <div class="expenseamount">
            <div class="expenseamountimage"></div>
        </div>
    </div>
    <div class="recentproducts">
        <h3>Recent Products</h3>
        <div class="product">
            <img src="path/to/image1.jpg" alt="Product 1" class="product-image">
            <div class="product-info">
                <h4 class="product-name">Product Name 1</h4>
                <p class="product-price">$10.00</p>
            </div>
        </div>
        <div class="product">
            <img src="path/to/image2.jpg" alt="Product 2" class="product-image">
            <div class="product-info">
                <h4 class="product-name">Product Name 2</h4>
                <p class="product-price">$15.00</p>
            </div>
        </div>
    </div>
    <div class="recentproducts">
        <h3>Recent Products</h3>
        <div class="product">
            <img src="path/to/image1.jpg" alt="Product 1" class="product-image">
            <div class="product-info">
                <h4 class="product-name">Product Name 1</h4>
                <p class="product-price">$10.00</p>
            </div>
        </div>
        <div class="product">
            <img src="path/to/image2.jpg" alt="Product 2" class="product-image">
            <div class="product-info">
                <h4 class="product-name">Product Name 2</h4>
                <p class="product-price">$15.00</p>
            </div>
        </div>
    </div>


    {% endblock %}

</body>

</html>