{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/trail.css' %}" />
    <title>{% block title %}My Django App{% endblock %}</title>
</head>
<body>
    {% include 'navbar2.html' %}
    <div class="body-content">
        <div class="dashboard">
            {% block dashboard_content %}
            {% endblock %}
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
